*, ::before, ::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.header{
  width: 100%;
  padding: 15px 0;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  margin-bottom: 60px;
  background-color: white;
  z-index: 100;
  box-shadow: rgba(0,0,0,.8) 0 2px 6px -3px;
}
.vodorod{
  text-decoration: none;
  color: black;
  text-align: center;
}
.logo{
  text-decoration: none;
  color: #009efd;
  text-align: center;
}
.vodorod:hover{
  color: #009efd;
}
.hero1{
  min-height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  display: grid;
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.container2{
  display: grid;
  max-width: 1230px;
  width: 100%;
  margin: 0 auto;
  grid-template-columns: 1fr 1fr;
  text-align: justify;
  grid-gap: 20px;
}
.hero__container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(290px,1fr));
  grid-gap: 20px;
}
.hero__about{
  display: grid;
  flex-direction: column;
  justify-content: center;
}
.hero__title{
  margin-bottom: 20px;
  font-size: 48px;
  line-height: 1.1;
  text-align: center;
}
.hero__subtitle{
  font-size: 18px;
  font-weight: 400;
}
.hero__description{
  font-size: 18px;
  font-weight: 400;
}
.hero__links{
  display: grid;
  justify-content: center;
}
.hero__link{
  font-size:30px;
  color: black;
}
.hero__link:hover{
  color: #009efd;
}
.hero__box{
  max-width: 500px;
  justify-content: center;
  overflow: hidden;
  border:10px solid white;
  background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
  animation: ava-animate 6s infinite alternate;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5  );
  z-index: 0;
  position: relative;
}
.hero__box-img {
  animation: ava-bg 6s infinite alternate;
  padding: 1px;
  z-index: 0;
  position: relative;
}
@keyframes ava-animate {
  0% {
    border-radius: 50% 50% 50% 50% / 50% 50% 50% 50% ;
  }
  40% {
    border-radius: 50% 50% 50% 50% / 77% 24% 76% 23%;
  }
  60% {
    border-radius: 26% 74% 27% 73% / 50% 50% 50% 50% ;
  }
  100% {
    border-radius: 50% 50% 50% 50% / 77% 25% 75% 23% ;
  }
}
@keyframes ava-bg {
  from {
    backdrop-filter: hue-rotate(0);
  }
  to {
    backdrop-filter: hue-rotate(45deg);
  }
}
.container3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap:10px ;
  padding: 0 70px;
  justify-content: space-around;
  grid-auto-columns: auto;
  margin-bottom: auto;
}
.car1, .car2, .car3, .car4 {
  color: black;
  text-align: center;
  border: 1px solid black;
}
.car{
  text-align: center;
  color: black;
}
.container4 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 0 270px;
}
.odeshda{
  text-align: center;
  color: black;
}
.odeshda1, .odeshda2, .odeshda3, .odeshda4{
  color: black;
  text-align: center;
  border: 1px solid black;
  margin: 10px;
  flex-basis: 32%;
}
@media screen and (max-width: 1200px) {
  .container3 {
    grid-template-columns: 1fr 1fr;
  }
  .container4 {
    padding: 0;
  }
  .hero1 {
    padding-top: 50px;
  }
  .hero__container {
    grid-row-gap: 20px;
  }
  .hero__title {
    font-size: 28px;
    margin-bottom: 10px;
  }
  .hero__subtitle {
    font-size: 14px;
  }
  .hero__description {
    font-size: 14px;
  }
  .hero__about {
    text-align: center;
  }
  .hero__links {
    justify-content: center;
  }
  .hero__box {
    max-width: 400px;
    justify-self: center;
  }
  .header{
    font-size: 14px;
    margin-bottom: auto;
  }
}
@media screen and (max-width: 600px) {
  .container3 {
    grid-template-columns: 1fr;
    padding: 10px 50px;
  }
  .container4 {
    padding: 0;
  }
  .hero__box {
    max-width: 350px;
  }
  .odeshda1, .odeshda2, .odeshda3, .odeshda4{
    flex-basis: 75%;
  }
}