*, ::before, ::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.header{
    width: 100%;
    padding: 15px 0;
    display: flex;
    position: sticky;
    top: 0;
    justify-content: space-around;
    align-items: center;
    font-size: 24px;
    margin-bottom: 60px;
    background-color: white;
    z-index: 100;
    box-shadow: rgba(0,0,0,.8) 0 2px 6px -3px;
}
.vodorod{
    text-decoration: none;
    color: #009efd;
    text-align: center;
}
.logo{
    text-decoration: none;
    color: black;
    text-align: center;
}
.logo:hover{
    color: #009efd;
}
.container{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 20px;
}
.cell{
    border: 1px solid black;
    padding: 5px;
}
.symbol{
    display: grid;
    grid-area: symbol;
    font-size: 26px;
}
.name{
    display: grid;
    grid-area: name;
    font-size: 26px;
}
.number{
    grid-area: number;
    justify-content: flex-end;
    align-items: flex-end;
    display: grid;
    font-size: 20px;
}
.atomic-mass{
    grid-area: atomic-mass;
    justify-content: flex-end;
    display: grid;
    font-size: 20px;
}
.cell-main{
    display: grid;
    grid-template-areas:
    "symbol . number"
    ". . atomic-mass"
    "name . ."  ;
    padding: 10px;
    background: #009efd;
    box-shadow:
            inset rgba(0,0,0,.6) 0 -3px 8px,
            inset rgba(252,255,255,.7) 0 3px 8px,
            rgba(0,0,0,.8) 0 3px 8px -3px;
}
.cell-main:hover{
    transition: all 1s ease-in-out;
    border-radius: 15%;
}
@media screen and (max-width: 1200px) {
    .header{
        font-size: 14px;
        margin-bottom: auto;
    }
}